[Unit]
Description=ASM Data Server
Wants=network-online.target remote-fs.target

[Service]
Type=idle
ExecStart=python runServer.py

[Install]
WantedBy=multi-user.target