[Unit]
Description=ASM Data Server
Wants=network-online.target remote-fs.target

[Service]
Type=idle
ExecStart=python runServer.py >> /var/log/asm_server.log 2>&1

[Install]
WantedBy=multi-user.target